
.hero__inner--about{
    padding-bottom: 195px;
}
.hero__box--about{
    background-image:url("../images/about-hero.png");
    background-position:  calc(50% + 404px) calc(50% - 17px);
    background-repeat: no-repeat;
    background-size: 710px 596px;
}
.info__text--about{
    width: 372px;
}