.hero__inner--create{
    padding-bottom: 195px;
}
.hero__box--create{
    background-image:url("../images/create-hero.png");
    background-position:  calc(50% + 404px) calc(50% - 17px);
    background-repeat: no-repeat;
    background-size: 710px 596px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 

    .hero__box--create{
        background-image:url("../images/create-hero@2x.png");
    }
  
} 